section.wrapper {
    max-width: 1500px;
    margin: 0 auto 3%;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
}

.curries {
    top: 0;
    z-index: -1;
}

.header-container {
    position: absolute;
    top: 8px;
    width: 100%;
    max-width: 1500px;
}

.social-icons {
    position: absolute;
    width: 150px;
    right: 1%;
    top: 5%;
}

.social-icons ul {
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    font-size: 36px;
    padding: 3%;
}

nav.top ul {
    background: #4B888D;
    height: 52px;
    width: 480px;
    text-align: center;
    position: relative;
    z-index: 10;
}

nav li { display: inline; }

nav.top div {
    display: none;
    width: 100%;
    height: 52px;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(1,1,1,0.8);
    position: fixed;
}

nav.top.fixed div {
    display: block;
}

nav.top.fixed {
    position: fixed;
    top: 0;
    z-index: 8;
}

header {
    background: rgba(1,1,1,0.5);
    display: inline-block;
}

nav.top a, nav.top a:after, .social-icons a {
    color: #fff;
}

h1.logo {
	background: url("../img/logo_no_circle.png");
	height: 169px;
	width: 210px;
	text-indent: -9999px;
	margin: 10px auto 0px;
}

.main-container {
    text-align: center;
    background: white;
}

section.bg img {
	width: 100%;
	min-width: 760px;
}

#about_us section {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

#about_us p { text-align: left; }

.critics { margin: 20px 0; }

.critics p { clear: both; }
.critics p:before, .critics p:after { font-size: 24px;}
.critics p:before { content: '“'; }
.critics p:after { content: '”'; }

.critics a {
    display: block;
    float: right;
    margin: -10px 0 20px;
}
.critics a:before { content: '— '; }


#menus, #location, #about_us {
    padding: 125px 0 50px;
    margin-top: -100px;
}

#location p, .hours p { margin: 2px 0; }

nav.top a.logo_inline {
    padding-top: 10px;
    float: left;
}

.logo_inline img {
    display: none;
    height: 32px;
}

