.wrapper { text-align: center; }

ul.social-icons {
    float: right;
    margin: 2% 2% 0 0;
    width: 20%;
}

ul.social-icons li {
    display: inline-block;
    font-size: 26px;
    padding: 0 5%;
}

ul.social-icons li:after { content: ""; }

h1.logo {
	background: url("../img/logo_small.png");
	height: 169px;
	width: 210px;
	text-indent: -9999px;
	margin: 10px auto 0;
}

section.bg {
	overflow: hidden;
	max-height: 600px;
}

section.bg img {
	width: 100%;
	min-width: 760px;
}

@media only screen and (max-width: 480px) {
	section.bg img {
		margin-left: -30%;
	}

    .menus .toggle a {
        display: block;
    }
}

@media only screen and (max-width: 660px) {
	section.bg img {
		margin-left: -20%;
	}

    ul.social-icons {
        width: 10%;
    }

    ul.social-icons li {
        display: block;
        padding: 5% 0;
    }

    .menu {
        padding: 10px 20px !important;
    }

    .menus .toggle a:before {
        content: "";
    }
}

@media only screen and (min-width: 760px) {
	section.bg img {
		margin-top: -5%;
	}
}

@media only screen and (min-width: 1140px) {
	section.bg img {
		margin-top: -15%;
	}
}

.menus, #location { margin: 3em 0; }
#location p, .hours p { margin: 2px 0; }