section.wrapper {
    max-width: 1500px;
    margin: 0 auto 3%;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 30em;
}

.curries {
    top: 0;
    z-index: -1;
}

.main-container {
    text-align: center;
    background: white;
}

section.bg img {
	width: 100%;
	min-width: 760px;
}

#about_us section {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

#about_us p { text-align: left; }

.critics { margin: 20px 0; }

.critics p { clear: both; }
.critics p:before, .critics p:after { font-size: 24px;}
.critics p:before { content: '“'; }
.critics p:after { content: '”'; }

.critics a {
    display: block;
    float: right;
    margin: -10px 0 20px;
}
.critics a:before { content: '— '; }


#menus, #location, #about_us {
    padding: 125px 0 50px;
    margin-top: -100px;
}

#location p, .hours p { margin: 2px 0; }

