#menus div, #menus li, #menus section, #menus h2, #menus h3, #menus h4, #menus h5, #menus p  {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

#menus section section {
    display: inline-block;
    vertical-align: top;
    padding: 1% 2% 3%;
    font-size: 0.9em;
}

#menus #glossary p {
    display: block;
}

#glossary span:first-child {
    color: #4B888D;
}

#glossary span:nth-child(2) {
    font-style: italic;
    font-size: 0.9em;
    color: #666;
}


#glossary span:before {
    padding: 0 15px;
    content: " - ";
}

#glossary span:first-child:before,
#menus #glossary p:before {
    content: "";
}

#drinks_roti, #daily_special, #lunch { display: none; }

.scheduled > div {
    opacity: 0.5;
    font-size: 0.8em;
}

#daily_special .price,
#daily_special .scheduled .active {
    opacity: 1;
}

#daily_special .scheduled .active {
    display: inline-block;
    border: 5px solid #4B888D;
    padding: 15px 55px;
    margin: 10px 0;
    font-size: 1em;
}

#menus .mild { color: #458B00; }
#menus .medium { color: #cccc00; }
#menus .spicy { color: #BA0000; }

#lunch h3 {
    margin: 1.2em 0 0;
}

#menus h2, #menus .price, #menus p {
    display: inline-block;
}

#menus h2, #menus h3, #menus h4 {
    text-transform: uppercase;
}

#menus h4, #menus strong {
    color: gray;
}

.toggle { margin: -30px 0 0; }

.toggle a.active {
    color: #BA0000;
}

.toggle a:before {
    content: "| ";
    color: #4B888D;
}

#menus p:before { content: "/ "; }
#menus .drinks p:before { content: "| "; }
#menus strong:before { content: "- "; }

.toggle a:first-child:before,
#menus .price strong:before,
#menus p:first-child:before {
    content: "";
}

#menus .price {
    font-size: 1em;
    margin: 0 10px 0;
    vertical-align: top;
}

#menus .price strong {
    color: black;
    font-size: 1.25em;
}

#menus .price strong:before {
/*    content: " $";*/
    font-weight: lighter;
    vertical-align: top;
}

#menus .price sup   {
    margin: -3px;
    font-weight: bold;
}

#menus .price sup:before {
/*    content: ".";*/
    vertical-align: top;
}

#menus .price sub {
    margin-left: -18px;
    display: none;
}

#drinks_roti .price {
    display: inline-block;
}

#drinks_roti h3, .roti p {
    padding: 2% 1%;
}