.menus * {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.menus section {
    display: inline-block;
    vertical-align: top;
    padding: 25px 50px;
}

#daily_special { display: none; }

#daily_special > div {
    opacity: 0.5;
    font-size: 0.75em;
}

#daily_special .price,
#daily_special > .active {
    opacity: 1;
    font-size: 1em;
}

#daily_special > .active {
    display: inline-block;
    border: 5px solid #4B888D;
    padding: 15px 55px 0;
}

.menus .mild { color: #458B00; }
.menus .medium { color: #cccc00; }
.menus .spicy { color: #BA0000; }

.menus h1 { margin: 40px 0 20px;}

.menus h2, .menus div {
    margin: 0 0 20px 0;
}

.menus h2, .menus .price, .menus p {
    display: inline-block;
}

.menus h2, .menus h3, .menus h4 {
    text-transform: uppercase;
}

.menus h4, .menus strong {
    color: gray;
}

.menus p:before {
    content: "/ ";
}

.toggle a.active {
    color: #BA0000;
}

.toggle a:before {
    content: "| ";
    color: #4B888D;
    margin: -5px 10px;
}


.menus .drinks p:before {
    content: "| ";
}

.menus strong:before {
    content: "- ";
}

.toggle a:first-child:before,
.menus .price strong:before,
.menus p:first-child:before {
    content: "";
}

.menus .price {
    margin: -10px 10px 0;
}

.menus .price strong {
    color: black;
    font-size: 24px;
}

.menus .price strong:before {
/*    content: " $";*/
    font-weight: lighter;
    font-size: 18px;
    vertical-align: top;
}

.menus .price sup   {
    font-size: 14px;
    margin: -3px;
    font-weight: bold;
/*    vertical-align: top;*/
}

.menus .price sup:before {
/*    content: ".";*/
    vertical-align: top;
}

.menus .price sub {
    font-size: 9px;
    margin-left: -18px;
    display: none;
}

.menus .noodle_price {
    margin-top: -10px;
}

#drinks_roti {
    display: none;
}

#drinks_roti .price {
    display: inline-block;
}

#drinks_roti p {
    margin-right: 4px;
}

#drinks_roti h4 {
    margin: -10px 0 20px;
}

#drinks_roti h3 {
    margin: 20px 0 0;
}

.drinks h2 {
    margin: 0;
}