@media only screen and (min-width: 1200px) {
    a.logo_inline img {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .header-container .social-icons {
        width: 50px;
        right: 1%;
        top: 3%;
    }

    .header-container .social-icons li {
        padding: 10% 0;
        display: block;
    }
}

@media only screen and (min-width: 720px) {
    header.wrapper, nav.top {
        position: relative;
        width: 480px;
        left: 50%;
        margin-left: -240px;
    }
}

@media only screen and (max-width: 720px) {

    #menus .toggle {
        margin-bottom: 30px;
    }

    #menus .toggle a:before {
        content: "";
    }

    #menus .toggle a {
        display: block;
    }

    .menu {
        padding: 10px 20px !important;
        margin-bottom: 50px;
    }

    header,
    nav.top,
    nav.top ul {
        width: 100% !important;
    }

    .header-container {
        top: 0;
        text-align: center;
        width: 100%;
    }

}

@media only screen and (min-width: 430px) {

    body .curries {
        background-image: url(../img/curries_1000.jpg);
    }

    body .pad {
        background-image: url(../img/pad_thai_720.jpg);
    }

}

@media only screen and (max-width: 430px) {

    body .curries {
        background-image: url(../img/curries_420.jpg);
        height: 16em;
    }

    body .pad {
        background-image: url(../img/pad_thai_420.jpg);
        height: 10em;
    }

    #menus #glossary {
        font-size: 1em;
    }

    nav.top a {
        padding: 12px;
        font-size: 0.9em;
    }

    header nav div {
        display: none;
    }

}