@media only screen and (max-width: 800px) {
    .social-icons {
        width: 10%;
        right: 3%;
    }

    .social-icons li {
        padding: 20% 0;
        display: block;
    }

    #menus .toggle {
        margin-bottom: 30px;
    }

    #menus .toggle a:before {
        content: "";
    }

    #menus .toggle a {
        display: block;
    }
}

@media only screen and (max-width: 1000px) {
    .bg {
        height: 20em;
    }
}

@media only screen and (max-width: 720px) {

    .social-icons {
        width: 10%;
        right: 3%;
        top: 3%;
    }

    .menu {
        padding: 10px 20px !important;
        margin-bottom: 50px;
    }

    header,
    header ul {
        width: 100%;
    }

    .header-container {
        top: 0;
    }

    .bg {
        height: 15em;
    }
}

@media only screen and (min-width: 430px) {

    .greens {
        background-image: url(../img/greens_1500.jpg);
    }

    .dishes {
        background-image: url(../img/dishes.jpg);
    }

    .restaurant {
        background-image: url(../img/restaurant_1500.jpg);
    }

}

@media only screen and (max-width: 430px) {

    .greens {
        background-image: url(../img/greens_420.jpg);
        background-size: 150%;
        height: 16em;
    }

    .dishes {
        background-image: url(../img/dishes_420.jpg);
        height: 10em;
    }

    .restaurant {
        background-image: url(../img/restaurant_420.jpg);
        height: 10em;
    }

    #menus #glossary {
        font-size: 1em;
    }

    header nav li a {
        padding: 12px;
        font-size: 0.9em;
    }

    header nav div {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {
    nav.fixed .logo_inline {
        display: block;
        margin: 2% 10%;
    }

    .bg {
        background-position: center;
    }
}
