#instafeed {
    margin: 0 auto;
}

.instagram_container {
    position: relative;
    display: inline-block;
}

.instagram_image {
   width: 400px;
}

.overlay, .owner, .caption, #instafeed .icon-instagram {
    position: absolute;
}

.instagram_container:hover .overlay  {
    display: block;
}

.overlay {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#instafeed .icon-instagram {
    font-size: 3em;
    z-index: 2;
    left: 5%;
    bottom: 5%;
    color: #EEE;
}

.owner {
    z-index: 2;
    bottom: 2%;
    right: 2%;
    border: 5px solid #EEE;
}

.owner p {
    margin: 0;
    padding: 5px 0 0;
    color: #333;
    background: #EEE;
}

.caption {
    z-index: 3;
    top: 2%;
    left: 2%;
    right: 2%;
    color: #333;
    background: rgba(255,255,255,0.6);
}

@media only screen and (max-width: 400px) {
    .instagram_image {
       width: 100%;
    }

    #instafeed .icon-instagram {
        font-size: 2em;
    }

    .caption {
        font-size: 0.9em;
        line-height: 1.2em;
        padding: 0.8em;
        margin: 0;
    }

    .owner {
        width: 33%;
    }

    .owner img {
        max-width: 100%;
    }

    .owner p {
        font-size: 0.9em;
    }
}