@media only screen and (min-width: 1200px) {
    nav.top.fixed > a {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .header-container .social-icons {
        width: 50px;
        right: 1%;
        top: 3%;
    }

    .header-container .social-icons li {
        padding: 10% 0;
        display: block;
    }
}

@media only screen and (max-width: 720px) {

    #menus .toggle {
        margin-bottom: 30px;
    }

    #menus .toggle a:before {
        content: "";
    }

    #menus .toggle a {
        display: block;
    }

    .menu {
        padding: 10px 20px !important;
        margin-bottom: 50px;
    }

    header.wrapper,
    nav.top,
    nav.top ul {
        width: 100%;
        left: 0;
        margin-left: 0;
    }

    .header-container {
        top: 0;
        text-align: center;
        width: 100%;
    }

    .map #panel {
        width: 400px;
        margin-left: -200px;
    }
}

@media only screen and (min-width: 430px) {

    body .curries {
        background-image: url(../thaicurrysimple/img/curries_1000.jpg);
    }

    body .pad {
        background-image: url(../thaicurrysimple/img/pad_thai_720.jpg);
    }

}

@media only screen and (max-width: 430px) {

    body .curries {
        background-image: url(../thaicurrysimple/img/curries_420.jpg);
        height: 16em;
    }

    body .pad {
        background-image: url(../thaicurrysimple/img/pad_thai_420.jpg);
        height: 10em;
    }

    #menus #glossary {
        font-size: 1em;
    }

    nav.top a {
        padding: 12px;
        font-size: 0.9em;
    }

    nav.top ul {
        height: auto;
    }

    nav.top div {
        display: none;
    }

    .map #panel {
        left: 0;
        border-left: none;
        border-right: none;
        width: 98%;
        left: 0;
        margin-left: -3%;
        padding: 5px 4%;
    }

    .map #panel span#deleteicon {
        right: 6%;
    }
}